<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Customer" alias="Customer"/>
        <typeAlias type="lt.vu.mybatis.model.Eorder" alias="Eorder"/>
        <typeAlias type="lt.vu.mybatis.model.EorderProduct" alias="EorderProduct"/>
        <typeAlias type="lt.vu.mybatis.model.Product" alias="Product"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ShopDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="lt/vu/mybatis/xml/CustomerMapper.xml"/>
        <mapper resource="lt/vu/mybatis/xml/EorderMapper.xml"/>
        <mapper resource="lt/vu/mybatis/xml/EorderProductMapper.xml"/>
        <mapper resource="lt/vu/mybatis/xml/ProductMapper.xml"/>
    </mappers>
</configuration>
